[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/27ari/
Environment="PYTHONPATH=/home/str/27ari/"
ExecStart=/home/str/27ari/.venv/bin/python /home/str/27ari/bot_main.py

[Install]
WantedBy=multi-user.target